<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS/styleinfos.css">
    <title>Document2</title>
</head>
<body>
    

    <div class="grid-container">
      <div class="pack">
          
          <img class="image2" src="{{.Artist.Image}}" alt="image" >
          <div class="Name2">{{.Artist.Name}}</div>
          <div Class="CreationDate2">{{.Artist.CreationDate}}</div>

      </div>

      <div class="pack2">
        <div class="Title2">Members</div>
        <div class="Content">
         {{range .Artist.Members}}
            <div class="Members">{{.}}</div>
          {{end}}
        </div>
      

      </div>

      <div class="pack3">
        {{range $key,$value := .Relation}}
          <div class="Key">{{$key}}</div>
          {{range .}}
          <div class="Value">{{.}}</div>
          {{end}}
          {{end}}
      </div>
       
    </div>


</body>
</html>