:root {
  --color1: #eeeeee;
  --color2: #d4d4d4;
  --color3: #33bcfc;
  --color4: #008cff;
  --color5: #202020;
}

body {
  background-color: var(--color2);
}

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: var(--color1);
  width: 100%;
  height: 70px;
  padding: 5px 35px;
  box-shadow: 0 0 50px var(--color5);
  z-index: 1000;
  top: 0;
  left: 0;
}

.list li {
  display: inline;
  margin: 1vh;
}


li a {
  padding: 1vh;
  color: var(--color5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  transition: 0.3s;
}

li a:hover {
  color: var(--color5);
  background-color: var(--color4);
  border-radius: 20px;
}

.title a {
  color: var(--color5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 1000;
}

.grid-container {
  display: grid;
  height: 1000px;
  width:  1400px;
  line-height-step: 80%;
  border-radius: 40px;
  background-color: var(--color1);
  align-items: center;
  margin: auto;
  margin-top: 100px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
  padding: 50px;
  gap: 25px;
}

.Name {
  height: 30px;
  background-color: var(--color1);
  color: #000000;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 30px;
  margin-top: -5px;
  grid-column: 1/-1;
  transition:0.2s;
  border: none;
  cursor: pointer;
  
}

.pack {
    height: 95%;
background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  overflow: hidden;
  border-radius: 40px;
  padding: 20px;
  grid-column: 1/3;
  grid-row: 1 / 5;
  transition: 0.5s;
}

.pack:hover {
  background-color: var(--color4);
  box-shadow: 0 0 20px var(--color4);
  color: aliceblue;
}

.pack2 {
  height: 95%;
  background-color: white;
  display: grid;
  justify-items: center;
  align-content: center;
  border-radius: 40px;
  margin-top: 10px;
  padding: 10px;
  grid-column: 1/3;
  grid-row: 5 / 9;
  grid-template-rows: repeat(20, 1fr); 
  transition: 0.5s;
}

.pack2:hover {
  background-color: var(--color4);
  box-shadow: 0 0 20px var(--color4);
  color: aliceblue;
}

.pack3 {
    height: 95%;
background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  overflow: hidden;
  border-radius: 40px;
  padding: 30px;
  grid-column: 3/-1;
  grid-row: 1 / -1;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: lch(88.82% 0.01 296.81);
  border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
  background: #c5c5c5;
}

img {
  width: 100%;
  justify-self: center;
  border-radius: 30px;
  height: 100%;
  overflow: hidden;
  grid-column: 1/-1 ;
  grid-row: 1/8;
   
}

.Name2 {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 259%;
    font-weight: 1000;
    grid-column: 1 / -1;
    margin-top: 20px;
    margin-left: 10px;
    grid-row: 8;
}

.CreationDate2 {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 202%;
    font-weight: bolder;
    grid-column: 1 / -1;
    margin-top: 6px;
    margin-left: 12px;
    grid-row: 9;
}

.pack2 .Title2 {
  
       font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
       color: aliceblue;
    font-size: 200%;
    width: 83%;
    font-weight: 1000;
    grid-column: 1 / -1;
    margin-top: 20px;
    text-align: center;
    background-color: var(--color4);
    padding: 15px;
    border-radius: 30px;
  
}

.pack2:hover .Title2 {
  background-color: aliceblue;
  box-shadow: 0 0 20px #f0f0f0;
  color: var(--color4);

}

.pack2 .Content {

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 180%;
  margin-top: 30px;

  
}
.Key {
        font-weight: bolder;
    font-family: arial;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 800;
    font-size: 180%;
    margin-top: 30px;
    text-align: center;
    background-color: var(--color4);
    color: aliceblue;
    padding: 10px;
    border-radius: inherit;
}

.Key2 {
        font-weight: bolder;
    font-family: arial;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 800;
    font-size: 180%;
    margin-top: 30px;
    text-align: center;
    background-color: var(--color3);
    color: aliceblue;
    padding: 10px;
    border-radius: inherit;
}

.Value {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 180%;
  margin-top: 30px;
}

.switch {

  background-color: #ffffff00;
  color: var(--color5);
  border: 5px solid var(--color5);
  padding: 2px 5px 5px 25px;
  border-radius: 50px;
  
}