:root {
  --color1: #eeeeee;
  --color2: #d4d4d4;
  --color3: #33bcfc;
  --color4: #008cff;
  --color5: #202020;
}

body {
  background-color: var(--color2);
}

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: var(--color1);
  width: 100%;
  height: 60px;
  padding: 5px 35px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  top: 0;
  left: 0;
}

.list li {
  display: inline;

}


li a {
  padding: 1.5vh 1.5vh;
  color: var(--color5);
  font-weight: 800;
  border-radius: 30px;
  transition: 0.3s;
}

li a:hover {
  color: var(--color1);
  background-color: var(--color4);
  border-radius: 15px;
}

.title a {
  color: var(--color5);
  font-weight: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}


#click {
  display: none;
}


#menu-toggle {
  display: none;
}
.menu {
  display: none;
  color: var(--color5);
  border: none;
  font-weight: 900;
  padding: 5px 20px;
  border-radius: 15px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  height: 740px;
  width:  95%;
  line-height-step: 80%;
  border-radius: 40px;
  background-color: var(--color1);
  align-items: center;
  margin: auto;
  margin-top: 100px;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
  gap: 25px;
}

.Name {
  height: 30px;
  background-color: var(--color1);
  color: #000000;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 30px;
  margin-top: 10px;
  grid-column: 1/-1;
  transition:0.2s;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  
}

.pack {
    height: 100%;
background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: auto;
  overflow: hidden;
  border-radius: 40px;
  padding: 30px;
  gap: 20px;
  grid-column: 1;
  grid-row: 1 /-1;
  transition: 0.5s;
}

.pack:hover {
  background-color: var(--color4);
  box-shadow: 0 0 20px var(--color4);
  color: aliceblue;
}

.pack2 {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  padding: 30px;
  gap: 20px;
  grid-column: 2;
  grid-row: 1/-1;
  transition: 0.5s;
}

.pack2:hover {
  background-color: var(--color4);
  box-shadow: 0 0 20px var(--color4);
  color: aliceblue;
}

.pack3 {
  height: 100%;
background-color: rgb(255, 255, 255);
  display: grid;
  overflow: hidden;
  border-radius: 40px;
  padding: 30px;
  gap: 10px;
  grid-column: 3/-1;
  grid-row: 1 / -1;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: lch(88.82% 0.01 296.81 / 0.514);
  border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
  background: #c5c5c5;
}

img {
  width: 100%;
  justify-self: center;
  border-radius: 30px;
  height: 100%;
  overflow: hidden;
  grid-row: 1/4;
   
}

.Name2 {
    font-size: 259%;
    font-weight: 1000;
    grid-column: 1 / -1;
    margin-left: 10px;
    grid-row: 4;
}

.CreationDate2 {
    font-size: 202%;
    font-weight: bolder;
    grid-column: 1 / -1;
    margin-left: 12px;
    grid-row: 5;
     white-space: nowrap;
}

.Title2 {

    color: aliceblue;
    font-size: 200%;
    width: 90%;
    font-weight: 1000;
    text-align: center;
    background-color: var(--color4);
    padding: 15px;
    border-radius: 30px;
  
}

.pack2:hover .Title2 {
  background-color: aliceblue;
  box-shadow: 0 0 20px #f0f0f0;
  color: var(--color4);

}

.Content {

  text-align: center;
  font-weight: 800;
  font-size: 180%;

}
.Key {
        font-weight: bolder;
    font-weight: 800;
    font-size: 180%;
    text-align: center;
    background-color: var(--color4);
    color: aliceblue;
    padding: 10px;
    border-radius: inherit;
}

.Key2 {
        font-weight: bolder;
    font-weight: 800;
    font-size: 180%;
    text-align: center;
    background-color: var(--color3);
    color: aliceblue;
    padding: 10px;
    border-radius: inherit;
}

.Value {
  text-align: center;
  font-weight: 800;
  font-size: 180%;
}

@media (max-width:1350px) and (min-width:769px){

  
  .grid-container {
    grid-template-columns:  1fr 1fr;
    grid-template-rows: auto auto;
    height: auto;
  }

  .pack {
    grid-column: 1;
    grid-row: 1;
  }
  .pack2 {
    grid-column: 2;
    grid-row: 1;
  }

  .pack3 {
    grid-column: 1/-1;
    grid-row: 2;
    overflow: none;
    height: 100%;
  }
}


@media (max-width: 768px) {
 
  .menu {
    display: inline-block;
    font-size: 40px;
  }
  .list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    right :0px;
    background-color: var(--color1);
    gap: 30px;
    padding: 30px;
  }


  li a:hover {
    display: inline;
    background-color: var(--color2);
    color: var(--color5);
    border-radius: 15px;
  }

  #menu-toggle:checked + .menu + .list {
    display: flex;
    align-items: center;
  }
  
  .page {
    width: 100%;
    grid-template-rows: auto;
    
  }
  
  .Options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .container1 .Icon:nth-child(1) {
    grid-column: 1/-1;
  }

 

  .Icon:hover .select {
    font-size: 20px;
    grid-column: 1/-1;
  }

  .grid-container {
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto auto;
    height: auto;
  }

  .pack {
    grid-column: 1;
    grid-row: 1;
  }
  .pack2 {
    grid-column: 1;
    grid-row: 2;
  }

  .pack3 {
    grid-column: 1;
    grid-row: 3;
  }

  
}

@media (max-width: 500px) {
  .grid-container {
    padding: 30px;
  }

  .pack, .pack2, .pack3 {
    padding:  20px;
  }

  .Key, .Key2 , .Value {
    font-size: 100%;
  }

  .Value {
    margin: 0;
  }

  .Content {
    font-size: 100%;
  }
  .Title2 {
    font-size: 100%;
  } 

  .Name2 {
    font-size: 150%;
  }
}
