<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <title>About</title>
</head>

<body>
  <nav class="navbar">
    <h1 class="title"><a href="/">MyGroupie</a></h1>
       <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle" class="menu">≡</label>
      <ul class="list">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
  </nav>

  <div class="page">

    <div class="container3">

      <div class="Key">Groupie Tracker</div>
      <div class="Value">
        is a web application written in Go that fetches and displays data from an external API about music artists. The
        website presents detailed information for each artist, including images, members, concert locations, and album
        history.
      </div>
      <div class="Key">📝 Description</div>
      <div class="Value">
        This project interacts with a provided API that contains structured information about music artists. The goal is
        to create a complete and user-friendly website that shows:

        - Artist name and picture
        - Year the artist started
        - Date of their first album
        - Band members
        - Locations of past and future concerts

        The app parses and organizes this data, then dynamically displays it on a styled web page using HTML and CSS.
      </div>

      <div class="Key">💻 Technologies Used</div>
      <div class="Value">
        - **Go** (main backend and server logic)
        <br>
        - **HTML** (structuring the frontend content)
        <br>
        - **CSS** (styling and layout)
      </div>
      <div class="Key">🚀 Getting Started</div>
      <div class="Key2">Prerequisites</div>
      <div class="Value">
        You must have [Go] ( <a href="https://golang.org/doc/install">https://golang.org/doc/install</a> ) installed on your machine.
      </div>
      <div class="Key2">How to Run</div>
      <div class="Value">
        1. Clone the repository:
        <br>
        <div class="container4">
          git clone <a href="https://learn.zone01oujda.ma/git/jazahraoui/groupie-tracker">https://learn.zone01oujda.ma/git/jazahraoui/groupie-tracker</a> cd groupie-tracker
        </div>
      </div>



    </div>


  </div>


</body>

</html>