<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <title>Contact</title>
</head>

<body>
 <nav class="navbar">
    <h1 class="title"><a href="/">MyGroupie</a></h1>
       <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle" class="menu">≡</label>
      <ul class="list">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
  </nav>


  <div class="page">

    <div class="container5">


      <div class="container6">
        <img class="creator_image" src="../static/Assets/jawad.jpeg" alt="jpeg">
        <div class="creator_name">Jawad Zahraoui</div>
        <a href="https://www.linkedin.com/in/jawad-zahraoui-673821376/" id="linkedin"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/jawad-zh"><i id="github" class="fa-brands fa-github"></i></a>
      </div>

      <div class="container6">
        <img class="creator_image" src="../static/Assets/abdelkafi.jpeg" alt="jpeg">
        <div class="creator_name">Abdelkafy Bourazza</div>
        <a href="https://www.linkedin.com/in/abdelkafi-bourazza-8a2522338/" id="linkedin"><i class="fa-brands fa-linkedin"></i></i></a>
        <a href="https://github.com/Gegatron"><i id="github" class="fa-brands fa-github"></i></a>
      </div>

      <div class="container6">
        <img class="creator_image" src="../static/Assets/yassine.jpeg" alt="jpeg">
        <div class="creator_name">Yassine Bourazza</div>
        <a href="https://www.linkedin.com/in/yassin-bourazza-49aa8235a/" id="linkedin"><i class="fa-brands fa-linkedin"></i></i></a>
        <a href="https://github.com/Megatron778"><i id="github" class="fa-brands fa-github"></i></a>
      </div>


    </div>



  </div>
</body>

</html>