<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error!</title>
    <link rel="stylesheet" href="/static/styleerror.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
</head>
<body class="parent">
    <section class="errorSection">
        <h2 class="statusCode">{{.Status}}</h2>
        <h6 class="errorText">{{.Error}}</h6>
        <a href="/" class="btnBack">Go to Homepage</a>
    </section>
   
</body>
</html>