<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
  <title>Home</title>
</head>

<body>

  <nav class="navbar">
    <h1 class="title"><a href="/">MyGroupie</a></h1>
       <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle" class="menu">≡</label>
      <ul class="list">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
  </nav>

  <div class="page">
    <div class="container1">
      <input type="checkbox" id="click">
      <form class="Options" action="/" method="post">
        <div class="Icon">
          
          <img class="typeImage" src="../static/Assets/all.png">
          <div class="typeName"><p>All Artists</p></div>
            <button class="select" type="submit" name="MusicType" value="All" >Select</button>
          </div>
        <div class="Icon">
          <img class="typeImage" src="../static/Assets/rap.png">
          <div for="click" class="typeName"><p>Hip-Hop</p></div>
            <button class="select" type="submit" name="MusicType" value="Hip-Hop" >Select</button>

          </div>
        <div class="Icon">
          
          <img class="typeImage" src="../static/Assets/pop.png">
          <div class="typeName"><p>Pop</p></div>
          <button class="select" type="submit" name="MusicType" value="Pop" >Select</button>
          </div>
        <div class="Icon">
          
          <img class="typeImage" src="../static/Assets/classicrock.png">
          <div class="typeName"><p>Classic Rock</p></div>
            <button class="select" type="submit" name="MusicType" value="Classic Rock" >Select</button>
          </div>
        <div class="Icon">
          
          <img class="typeImage" src="../static/Assets/hardrock.png">
          <div class="typeName"><p>Hard Rock</p></div>
            <button class="select" type="submit" name="MusicType" value="Hard Rock" >Select</button>
          </div>
        <div class="Icon">
          
          <img class="typeImage" src="../static/Assets/modernrock.png">
          <div class="typeName"><p>Modern Rock</p></div>
            <button class="select" type="submit" name="MusicType" value="Modern Rock" >Select</button>
          </div>
        <div class="Icon">
          
          <img class="typeImage" src="../static/Assets/diversegenres.png">
          <div class="typeName"><p>Diverse Genres</p></div>
            <button class="select" type="submit" name="MusicType" value="Diverse Genres" >Select</button>
          </div>
      </form>

    </div>

    <div class="container2">
      <div class="Profiles">

        {{range .}}
        <a href="/infos/{{.Id}}">
          <div class="item">
            <img class="image" src="{{.Image}}">
            <div class="info">
              <div class="Name">{{.Name}}</div>
              <div class="CreationDate">{{.CreationDate}}</div>
            </div>
          </div>

        </a>
        {{end}}

      </div>
    </div>
  </div>




</body>

</html>